@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

.gallery {
	width: 85vw;
	margin: 2rem auto;
}

.card {
	columns: 4 16rem;
	gap: 2rem;
}

.card img {
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 2rem;
	transform: 0.2s ease-in-out;
}

.card img:hover {
	transform: scale(1.05);
	transition-duration: 70ms;
	cursor: pointer;
}

.card__cont {
	position: relative;
}

.card__cont button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: 2.375rem;
	border: 1px solid #eb5757;
	color: #eb5757;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	line-height: normal;
	background-color: transparent;
	cursor: pointer;
}

.card__cont p {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: normal;
	position: absolute;
	bottom: 1.25rem;
	left: 1.5rem;
}
